<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.song.example.wanandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".common.web.WebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>